extends layout


include mixins/_pagination

block content
  .main.container.clearfix
    .col-md-8.col-md-offset-2
      //-h1.display-4= #{user.name}
      h1.display-4= title
      //-h1.display-4.m-b-2 Todos
      //-h1= title


      ul
      each val in todos
        li
          a(href=val.url) Author: #{val.author.name} - Todo: #{val.name} 
      else
        li There are no todo.
    .col-md-8.col-md-offset-2
        +pagination(page, pages, count)
