extends layout

block content
  .main.container.clearfix
    .col-md-8.col-md-offset-2
      h1.display-4 Todo: #{todo.name}
      h2 Author: #{todo.author.name}
      h2 Details: #{todo.details}
      hr
      h3
        a(href=todo.url+'/delete') Delete todo
      h3
        a(href=todo.url+'/update') Update todo
